<div id="wrapper">
	<header>
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html">Pruebas Angular</a>
			</div>
			<!-- Top Menu Items -->
			<ul class="nav navbar-right top-nav">
				<li class="dropdown" *ngIf="logued">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img width="30" src="{{(af.auth | async).google.profileImageURL}}"> {{(af.auth | async).google.displayName}} <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li>
							<a [routerLink]="['Profile']"><i class="fa fa-fw fa-user"></i> Profile</a>
						</li>
						<li class="divider"></li>
						<li>
							<a (click)="logout()"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
						</li>
					</ul>
				</li>
				<li *ngIf="!logued">
					<button (click)="login()">Login</button>
				</li>
			</ul>
			<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav side-nav">
					<li>
						<a [routerLink]="['ItemCreate']"><icon class="fa fa-fw fa-dashboard"></icon> Crear</a>
					</li>
					<li>
						<a [routerLink]="['Items']"><icon class="fa fa-fw fa-bar-chart-o"></icon> Todos</a>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</nav>
	</header>
	<div id="page-wrapper">
		<router-outlet></router-outlet>
	</div>
</div>